<igx-grid [data]="featuresFeatures" primaryKey="featureId" displayDensity="cosy" [allowFiltering]="true" filterMode="excelStyleFilter" class="grid">
  <igx-column header="featureId" field="featureId" dataType="number" [sortable]="true" title="featureId"></igx-column>
  <igx-column header="productId" field="productId" dataType="number" [sortable]="true" title="productId"></igx-column>
  <igx-column header="title" field="title" dataType="string" [sortable]="true" title="title"></igx-column>
  <igx-column header="description" field="description" dataType="string" [sortable]="true" title="description"></igx-column>
  <igx-column header="requestorEmail" field="requestorEmail" dataType="string" [sortable]="true" title="requestorEmail"></igx-column>
  <igx-column header="dateAdded" field="dateAdded" dataType="string" [sortable]="true" title="dateAdded"></igx-column>
</igx-grid>
