:host {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  overflow: auto;
}
.card {
  margin: 10px;
  width: 320px;
  height: max-content;
  min-width: 320px;
  flex-shrink: 0;
}
.actions-content {
  min-width: 50px;
  min-height: 40px;
}
.image {
  height: 100%;
}
.button {
  height: max-content;
  min-width: min-content;
}
